
/* h1{
    margin-top:16px; 
    padding:20px ;
    font-weight: 300px;
    font-style: italic;
    font-size: 40px;
    border-radius: 0 0 20px 20px;
    box-shadow: 10px 30px 35px yellowgreen;
    background-color: brown;
    text-align: center;
}
.div1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 590px ;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    /* float: right; */
    /* padding: 30px;
    background-color: aqua; */
    
/* } */
/* a:hover{
    
    
    background-color:orangered;
    color: #000;
    /* margin: 10px solid black; */
    /* text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    
    
}
 */ 

/* 222222 */


/* 

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
 body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

 }
 .container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
 }
 .container .title{
    font-size: 25px;
    font-weight: 500 ;

 }
 .container .title ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin: 15px;
    width: calc(100% /2-20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width:2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color:#9b59b6 ;
}
form .button{
    height: 45px;
    margin: 25px 0;
}
form .button input{
    height: 100% ;
    width: 100% ;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
} */

/* 3// */










/* @media (max-width:584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin: 15px;
        width: 100%;
}
.container form .user-details{
    max-height: 300px;
    overflow-y: scroll;
}
.user-details ::-webkit-scrollbar{
    width: 0;
}
} */
