
{{>nav}}







<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About_Page</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <section class="about">
        <div class="main">
            <img src="images/sk.jpg" alt="">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>CEO <span>& Owner of Shubham Travels </span></h5>
                <p>Hello , I am Shubham Kondekar. Welcome to my official site of shubham travels , I am provide more types
                   of cars available for rent 24/7 and more jorney packages available for you and your family .</p>
                   <button type="submit" class="button">Let's Talk</button>
            </div>
        </div>
    </section>

    
</body>
</html>