<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="carsrate.css">
</head>
<body>
    {{>nav}}
    <h1>Cars and Rate  </h1>
    <marquee behavior="" direction="">
        <a class="newl" href="/booking">Book Now Your Car</a>
    
    </marquee>
    <table class="content-table">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>Car Name </th>
                <th>With Ac Km/rs</th>
                <th>Without Ac Km/Rs</th>
                <th>Seater</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody class="active-row">
            <tr >
                <td>1</td>
                <td>Dzire</td>
                <td>11 Km</td>
                <td>10 Km</td>
                <td>4 Seater</td>
                <td><a href="images/cars/dzire.jpg">Image</a></td> 
            </tr>
            <tr >
                <td>2</td>
                <td>Aspire</td>
                <td>11 Km</td>
                <td>10 Km</td>
                <td>4 Seater</td>
                <td><a href="images/cars/aspire.jpg">Image</a></td> 
            </tr>
            <tr>
                <td>3</td>
                <td>Indigo</td>
                <td>11 Km</td>
                <td>10 Km</td>
                <td>4 Seater</td>
                <td><a href="images/cars/indigo.jpg">Image</a></td> 
            </tr>
            <tr>
                <td>4</td>
                <td>Ertiga</td>
                <td>13 Km</td>
                <td>12 Km</td>
                <td>7 Seater</td>
                <td><a href="images/cars/ertiga.jpg">Image</a></td>
            </tr>
            <tr>
                <td>5</td>
                <td>Innova</td>
                <td>16 Km</td>
                <td>15 Km</td>
                <td>7 Seater</td>
                <td><a href="images/cars/innova.webp">Image</a></td> 
            </tr>
            <tr>
                <td>6</td>
                <td>Marrazo</td>
                <td>14 Km</td>
                <td>13 Km</td>
                <td>7 Seater</td>
                <td><a href="images/cars/marrazo.jpg">Image</a></td> 
            </tr>
            <tr>
                <td>7</td>
                <td>Tavera</td>
                <td>13 Km</td>
                <td>12 Km</td>
                <td>9 Seater</td>
                <td><a href="images/cars/tavera.webp">Image</a></td> 
            </tr>
            <tr>
                <td>8</td>
                <td>Scorpio</td>
                <td>15 Km</td>
                <td>14 Km</td>
                <td>9 Seater</td>
                <td><a href="images/cars/scorpio.jpg">Image</a></td> 
            </tr>
            <tr>
                <td>9</td>
                <td>Xylo</td>
                <td>12 Km</td>
                <td>11 Km</td>
                <td>9 Seater</td>
                <td><a href="images/cars/xylo.jpg">Image</a></td> 
            </tr>
        </tbody>
    </table>
    
</body>
</html>