<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    {{>navbar1}}
    {{!-- <h1>You can First Registration </h1> --}}
    
{{!-- <div class="div1">
    <a href="/register">Registration</a>
</div> --}}
 <div class="title">
            <h1>Shubham Travels</h1>
        </div>
        <div class="button">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </div>
</body>
</html>