<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="navbar1.css">
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> --}}

    
    
</head>
<body>

    <header>
        <div class="main">
            <div class="logo">
                <img src="images/logo.png" alt="">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
            
                <li><a href="/carsrate">Cars</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a id="booking1" href="/booking">Booking</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        {{!-- <div class="title">
            <h1>Shubham Travels</h1>
        </div>
        <div class="button">
            <a href="/register" class="btn">Register</a>
            <a href="/login" class="btn">Login</a>
        </div> --}}
    </header>
</body>
</html>

<script>
    document.getElementById("booking1").addEventListener("click",booking);

    function booking(){
        alert("You can first login otherwise ignore");
    }

</script>

         {{!-- <button onclick="register()" type="submit" value="Register">Register</button> --}}


